In [12]:
import pandas as pd
import numpy as np
import csv

df = pd.read_csv("movies_metadata.csv", dtype={'popularity': 'str'})

In [13]:
# remove entries where release date is na
df = df.dropna(subset=["release_date", "title"])

# drop useless columns (tagline ? belongs_to_collection ? runtime ?
df = df.drop(columns=["adult", "poster_path", "homepage", "video", "original_title", "belongs_to_collection"])

df["release_year"] = df["release_date"].str[:4]

# vote count 0 ?
# budget == 0 pour 36000 rows 
df

,budget,genres,id,imdb_id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,release_year
0,30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,tt0114709,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,7.7,5415,1995
1,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,tt0113497,en,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413,1995
2,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,tt0113228,en,A family wedding reignites the ancient feud be...,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92,1995
3,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,tt0114885,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34,1995
4,0,"[{'id': 35, 'name': 'Comedy'}]",11862,tt0113041,en,Just when George Banks has recovered from his ...,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173,1995
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45457,0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",30840,tt0102797,en,"Yet another version of the classic epic, with ...",5.683753,"[{'name': 'Westdeutscher Rundfunk (WDR)', 'id'...","[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...",1991-05-13,0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Robin Hood,5.7,26,1991
45459,0,"[{'id': 18, 'name': 'Drama'}]",111109,tt2028550,tl,An artist struggles to finish his work while a...,0.178241,"[{'name': 'Sine Olivia', 'id': 19653}]","[{'iso_3166_1': 'PH', 'name': 'Philippines'}]",2011-11-17,0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,9.0,3,2011
45460,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",67758,tt0303758,en,"When one of her hits goes wrong, a professiona...",0.903007,"[{'name': 'American World Pictures', 'id': 6165}]","[{'iso_3166_1': 'US', 'name': 'United States o...",2003-08-01,0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,3.8,6,2003
45461,0,[],227506,tt0008536,en,"In a small town live two brothers, one a minis...",0.003503,"[{'name': 'Yermoliev', 'id': 88753}]","[{'iso_3166_1': 'RU', 'name': 'Russia'}]",1917-10-21,0,87.0,[],Released,NaN,Satan Triumphant,0.0,0,1917
45462,0,[],461257,tt6980792,en,50 years after decriminalisation of homosexual...,0.163015,[],"[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]",2017-06-09,0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,0.0,0,2017

Est ce qu'on enlève la row quand le vote count est 0

Budget == 0 pour 36000 rows => pas de données.
Est ce que 9000 seront assez pour l'analyse (voir répartition) ?

### Production de films

In [15]:
section1 = df.drop(columns=["imdb_id", "runtime", "revenue", "vote_count", "vote_average", "status", "popularity", "tagline", "overview", "production_companies", "production_countries", "title", "spoken_languages", "release_date", "id", "original_language"])
section1.to_csv("evolution_production/data/production.csv")

### Critique vs Budget

In [5]:
section2 = df.drop(columns=["id", "overview", "production_companies", "tagline", "spoken_languages", "production_countries", "imdb_id"])
section2 = section2.drop(section2[section2["budget"] == "0"].index)
section2.to_csv("critique_budget/data/critique_budget.csv")

### Popularité et thème

In [6]:
section3 = df.drop(columns=["id", "imdb_id", "production_countries", "production_companies"])
section3 = section3.drop(section3[section3["budget"] == "0"].index)
section3 = section3.drop(section3[section3["revenue"] == 0].index)
section3.to_csv("theme_popularite/data/theme_popularite.csv")

### Production et monopole

In [7]:
section4 = df.drop(columns=["genres", "id", "imdb_id", "overview", "tagline"])
section4 = section4.drop(section4[section4["budget"] == "0"].index)

companies = section4.copy()
companies = companies.drop(companies[companies["production_companies"] == "[]"].index)
companies = companies.drop(columns=["production_countries"])

countries = section4.copy()
countries = countries.drop(countries[countries["production_countries"] == "[]"].index)
countries = countries.drop(columns=["production_companies"])

companies.to_csv("producteurs/data/entreprises_producteurs.csv")
countries.to_csv("producteurs/data/pays_producteurs.csv")

### Keywords et popularité

In [8]:
section5 = df.drop(columns=["budget", "id", "imdb_id", "production_companies", "production_countries", "spoken_languages"])
section5.to_csv("keywords_popularite/data/keywords_popularite.csv")

### Expérimentation

In [9]:
# df[df["status"] == "Rumored"]

# na = df.isna()
# na[na["release_date"] == True]

# empty_prd_country = df[df["production_countries"] == "[]"]
# empty_prd_company = df[df["production_companies"] == "[]"]

# empty_prd_company

df[df["original_language"].isna()]
# df[df["budget"] == "0"]

,budget,genres,id,imdb_id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,release_year
19574,0,"[{'id': 99, 'name': 'Documentary'}]",283101,tt0429086,NaN,Documentary about the production of The Third ...,0.017007,"[{'name': 'StudioCanal', 'id': 694}, {'name': ...","[{'iso_3166_1': 'AT', 'name': 'Austria'}, {'is...",2004-10-11,0,95.0,"[{'iso_639_1': 'de', 'name': 'Deutsch'}, {'iso...",Released,NaN,Shadowing the Third Man,0.0,0,2004
21601,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 18, ...",103902,tt0838231,NaN,An Outback farmer takes in an Afghani woman wh...,0.359818,"[{'name': 'New Holland Pictures', 'id': 10229}...","[{'iso_3166_1': 'AU', 'name': 'Australia'}]",2007-08-04,0,94.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Unfinished Sky,6.4,8,2007
22831,0,"[{'id': 10752, 'name': 'War'}, {'id': 37, 'nam...",359195,tt0053558,NaN,A group of Union Army soldiers is charged with...,0.070647,"[{'name': 'Associated Producers (API)', 'id': ...","[{'iso_3166_1': 'US', 'name': 'United States o...",1960-03-31,0,69.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,13 Fighting Men,0.0,0,1960
32139,0,"[{'id': 35, 'name': 'Comedy'}]",147050,tt0122580,NaN,George and Gracie enter an elegant drawing roo...,0.073418,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1929-10-31,0,8.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Lambchops,6.5,2,1929
37404,0,"[{'id': 16, 'name': 'Animation'}]",257095,tt0225145,NaN,The first fairy tale transformed into a full-l...,0.036841,"[{'name': 'Ceskoslovenský Státní Film', 'id': ...","[{'iso_3166_1': 'CZ', 'name': 'Czech Republic'}]",1950-01-26,0,87.0,"[{'iso_639_1': 'cs', 'name': 'Český'}]",Released,NaN,Prince Bayaya,5.0,1,1950
41044,0,"[{'id': 99, 'name': 'Documentary'}]",332742,tt4432912,NaN,"Until the late 1970s, the Pakistani city of La...",0.373688,[],[],2015-11-13,0,82.0,"[{'iso_639_1': 'ur', 'name': 'اردو'}, {'iso_63...",Released,NaN,Song of Lahore,6.5,2,2015
41869,0,"[{'id': 99, 'name': 'Documentary'}]",144410,tt0154152,NaN,Two dancers perform in succession facing a sta...,1.58434,"[{'name': 'Edison Manufacturing Company', 'id'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1895-04-01,0,1.0,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",Released,NaN,Annabelle Serpentine Dance,5.7,20,1895
44054,0,"[{'id': 18, 'name': 'Drama'}]",380438,tt0298411,NaN,NaN,0.001283,[],"[{'iso_3166_1': 'FR', 'name': 'France'}]",2001-01-01,0,0.0,"[{'iso_639_1': 'fr', 'name': 'Français'}]",Released,NaN,Lettre d'une inconnue,0.0,0,2001
44407,0,"[{'id': 16, 'name': 'Animation'}, {'id': 99, '...",381096,tt5333518,NaN,The traditional crafts of crochet and knitting...,0.067624,[],[],2016-03-12,0,76.0,"[{'iso_639_1': 'sv', 'name': 'svenska'}, {'iso...",Released,NaN,Yarn,0.0,0,2016
44573,0,[],381525,tt5376720,NaN,American investment fund buys Austrian compani...,0.030766,[],"[{'iso_3166_1': 'AT', 'name': 'Austria'}]",2016-01-27,0,84.0,"[{'iso_639_1': 'de', 'name': 'Deutsch'}, {'iso...",Released,NaN,WiNWiN,0.0,0,2016
44652,0,"[{'id': 28, 'name': 'Action'}, {'id': 10752, '...",104473,tt0223958,NaN,"Three military men, seen inside a fortificatio...",0.471325,"[{'name': 'Star-Film', 'id': 7159}]","[{'iso_3166_1': 'FR', 'name': 'France'}]",1897-01-01,0,1.0,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",Rumored,NaN,The Surrender of Tournavos,4.6,5,1897